<script type="text/javascript">
    var sel_type = [];

    var bikes = <%= raw Bike.all.to_json %>


            $(document).ready(function () {

            });
</script>
<h1>Hjól</h1>
<p>Find me in app/views/bikes/index.html.erb</p>
<% @filters.each do |filter| %>
    <%= render 'filter', :filter => filter %>
<% end %>



<ul>

  <ul>
    <% @bikes.each do |bike| %>
        <li data-id="<%= bike.id %>">
          <%= bike.name %>
          <ul>
            <% bike.bike_variants.each do |variant| %>
                <%= variant.size %>
            <% end %>
          </ul>
        </li>
    <% end %>
  </ul>
</ul>
